*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    
}
.bg-personalizado {
    background-color: #333333;
    padding: 20px 0;
}
.bg-personalizado h4 {
    color: antiquewhite;
    margin-bottom: 15px;
}
.bg-personalizado a {
    color: antiquewhite;
    text-decoration: none;
    list-style: none;
}
.bg-personalizado .grupo-2{
    background-color: #333;
    margin-top: 35px;
    text-align: center;
    color: #b4b4b4;
}
.bg-personalizado .grupo-2 small{
    font-size: 15px;
}
.list-unstyled li{
    font-size: 15px;
    margin-bottom: 10px;
}
.list-unstyled li a{
    color: #8d8d8d;
}

/* .bg-personalizado a:hover {
    text-decoration: underline;
} */

.info{
    font-size: 20px;
    
}
.info-espesial{
    list-style: none;
    margin-top: 50px;
}
.info-espesial a{
    color: #b4b4b4;
}

.social-icons a {
    color: beige;
    border-radius: 50%;
    font-size: 1.7rem;
    margin-right: 15px;
    margin: 10px;
}


.social-icons a:hover {
    color: #ff0000;
    text-decoration: none;
}

    
.bg-personalizado .col-md-3 {
    margin-bottom: 20px;
}
@media (max-width: 767.98px){
    .social-icons {
        text-align: center;
    }
 }