/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
}

.body-home-page {
  background-color: var(--bg-primary);
  overflow-x: clip;
}

/* ESTILOS CARROUSEL */
#carouselExampleFade {
  width: 100%;
}

.carousel-sugerencias img {
  height: 65vh;
  object-fit: cover;
}

/* ESTILOS DE TARJETAS */

.first-title {
  margin-top: 10px;
}

.card-section-title {
  font-family: var(--font-bebas-neue);
  font-size: 36px;
  font-weight: 500;
  color: var(--color-white);
  margin: 20px;
  text-align: start;
  text-decoration: none;
}

.card-section-title:hover {
  color: rgb(63, 59, 59);
}

img.card-img-top {
  width: 160px;
  height: 230px;
  object-fit: cover;
}

.card {
  max-width: 100%;
  margin: 0;
  border: none !important;
}

/* ESTILOS CARROUSELS */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
}

#carouselContinuarViendo .carousel-control-prev,
#carouselPeliculas .carousel-control-prev,
#carouselSeries .carousel-control-prev,
#carouselDocumentales .carousel-control-prev,
#carouselMisFavoritos .carousel-control-prev {
  left: -50px;
}

#carouselContinuarViendo .carousel-control-next,
#carouselPeliculas .carousel-control-next,
#carouselSeries .carousel-control-next,
#carouselDocumentales .carousel-control-next,
#carouselMisFavoritos .carousel-control-next {
  right: -50px;
}

/* MEDIA QUERIES */

/* Pantallas menores a 1440px */
@media (max-width: 1440px) {
  img.card-img-top {
    width: 140px;
    height: 200px;
    object-fit: cover;
  }
}

/* Pantallas menores a 1024px */
@media (max-width: 1024px) {
  .card-section-title {
    font-size: 24px;
  }

  img.card-img-top {
    width: 120px;
    height: 180px;
    object-fit: cover;
  }
}

/* Pantallas menores a 768px */
@media (max-width: 768px) {
  img.card-img-top {
    width: 100px;
    height: 150px;
    object-fit: cover;
  }

  .carousel-control-prev {
    left: -30px;
  }

  .carousel-control-next {
    right: -30px;
  }
}

/* Pantallas entre 420px y 700px */
@media (min-width: 420px) and (max-width: 700px) {
  .card {
    margin-bottom: 20px; /* Espacio vertical entre tarjetas */
  }

  .card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px !important; /* Espacio horizontal entre tarjetas */
  }

  img.card-img-top {
    width: 80px;
    height: 130px;
    object-fit: cover;
  }
}

/* Pantallas menores a 425px */
@media (max-width: 425px) {
  #carouselExampleFade {
    display: none;
  }

  .first-title {
    margin-top: 40px;
  }

  img.card-img-top {
    width: 80px;
    height: 120px;
    object-fit: cover;
  }

  .card-section-title {
    font-size: 18px;
  }
}

/* Pantallas menores a 320px */
@media (max-width: 320px) {
  #carouselExampleFade {
    display: none;
  }

  img.card-img-top {
    width: 70px;
    height: 100px;
    object-fit: cover;
  }

  .card-section-title {
    font-size: 16px;
  }
}
