/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
}

.body-home-page {
  background-color: var(--bg-primary);
  overflow-x: clip;
}

/* ESTILOS CARROUSEL */
#carouselExampleFade {
  width: 100%;
}

/* ESTILOS DE TARJETAS */

.first-title {
  margin-top: 10px;
}

.card-section-title {
  font-family: var(--font-bebas-neue);
  font-size: 36px;
  font-weight: 500;
  color: var(--color-white);
  margin: 20px;
  text-align: start;
  text-decoration: none;
}

.card-section-title:hover {
  color: rgb(63, 59, 59);
}

img.card-img-top {
  width: 160px;
  height: 230px;
  object-fit: cover;
}

.card {
  max-width: 100%;
  margin: 0;
  background-color: unset !important;
  border: unset !important;
}

#navbarNavDropdown .dropdown-menu .dropdown-item:hover {
  background-color: #ff0000;
  color: white;
}

/* ESTILOS CARROUSELS */

.carousel-item {
  position: relative;
}
.carousel-inner {
  position: relative;
}

.carousel-control-prev {
  display: none !important;
}

span.carousel-control-next-icon {
  background-color: transparent;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  height: 50px;
}

.carousel-control-next .carousel-control-prev {
  width: none;
}

span.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  height: 130px;
}

.carousel-item .boton-reproducir {
  position: absolute;
  top: 350px;
  left: 70px;
  z-index: 10; /* Asegura que el botón esté encima de la imagen */
  background-color: #ff0000;
  border: none;
  margin: 60px;
  padding: 10px 60px;
}

.carousel-item .boton-reproducir:hover {
  background-color: gray;
  transition: 0.2s all ease-in;
  border-color: none;
}

/* Pantallas menores a 1440px */
@media (max-width: 1440px) {
  img.card-img-top {
    width: 140px;
    height: 200px;
    object-fit: cover;
  }
}

/* Pantallas menores a 1024px */
@media (max-width: 1024px) {
  .card-section-title {
    font-size: 24px;
  }

  img.card-img-top {
    width: 120px;
    height: 180px;
    object-fit: cover;
  }
}

/* Pantallas menores a 768px */
@media (max-width: 768px) {
  img.card-img-top {
    width: 100px;
    height: 150px;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .modal-dialog .modal-content {
    width: 80%;
  }

  .modal-content .modal-description {
    font-size: 15px;
  }

  .main-home-page .film-details h6 {
    font-size: 15px;
  }
}

/* Pantallas entre 420px y 700px */
@media (min-width: 420px) and (max-width: 700px) {
  .card {
    margin-bottom: 20px; /* Espacio vertical entre tarjetas */
  }

  .card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px !important; /* Espacio horizontal entre tarjetas */
  }

  img.card-img-top {
    width: 80px;
    height: 130px;
    object-fit: cover;
  }
}

/* Pantallas menores a 425px */
@media (max-width: 425px) {
  #carouselExampleFade {
    display: none;
  }

  .first-title {
    margin-top: 40px;
  }

  img.card-img-top {
    width: 80px;
    height: 120px;
    object-fit: cover;
  }

  .card-section-title {
    font-size: 18px;
  }
}

/* Pantallas menores a 320px */
@media (max-width: 320px) {
  #carouselExampleFade {
    display: none;
  }

  img.card-img-top {
    width: 70px;
    height: 100px;
    object-fit: cover;
  }

  .card-section-title {
    font-size: 16px;
  }
}
