@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Fuentes */
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;

  /* Colores */
  --color-white: #ffffff;
  --color-grey: #4a4a4a;
  --bg-red: #e50914;
  --bg-primary: #080808; /* bg de pag principal */
  --bg-secondary: #181818; /* bg de modales , botones*/

  /* Tamaños de fuente */
  --font-size-large: 28px;
  --font-size-medium: 24px;
  --font-size-small: 16px;
  --font-size-description: 14px;
}
