:root {
  /* Fuentes */
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;

  /* Colores */
  --color-white: #ffffff;
  --color-grey: #4a4a4a;
  --bg-red: #e50914;
  --bg-primary: #080808; /* bg de pag principal */
  --bg-secondary: #181818; /* bg de modales , botones*/

  /* Tamaños de fuente */
  --font-size-large: 28px;
  --font-size-medium: 24px;
  --font-size-small: 16px;
  --font-size-description: 14px;
}

main,
body,
html {
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  color: white;

  .card-diapositiva {
    padding: 70px;
    box-shadow: 0px 0px 10px 0px #848383;
    width: 100%;
    height: 100vh;

    .card-title {
      font-family: --font-montserrat;
      font-weight: bold;
      text-align: center;
    }

    .card-text {
      font-family: var(--font-bebas-neue);
    }

    .div-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      color: #e50914;
      gap: 50px;
    }

    .icons {
      font-size: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #e50914;
    }

    .p-paso {
      font-size: 14px;
    }

    .formulario .input-estilo {
      input {
        border: 2px solid #ccc; /* Borde ligero */
        padding: 10px;
        border-radius: 5px; /* Borde redondeado */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra */
        transition: box-shadow 0.3s ease, border-color 0.3s ease;

        &:focus {
          border-color: #007bffa2; /* Cambio de color en el borde al hacer foco */
          box-shadow: 0 0 8px rgba(0, 123, 255, 0.8); /* Sombra más intensa al hacer foco */
          outline: none; /* Elimina el borde de enfoque predeterminado */
        }
      }
    }
  }

  .form-floating {
    color: black;
  }
  .icon-formulario {
    color: var(--bg-red);
    font-size: 16px;
  }

  .card-diapositiva5 {
    padding: 70px;
    box-shadow: 0px 0px 10px 0px #848383;
    width: 100%;
  }

  .btn-red {
    background: var(--bg-red);
    color: var(--color-white);
    font-family: var(--font-roboto);
    padding: 10px 80px;
    transition: 0.2s all ease-in-out;

    &.btn-red:hover {
      background-color: var(--bg-secondary);
      color: var(--bg-red);
    }
  }

  .parrafo {
    width: 100%;
    margin-top: 30px;
    text-indent: 20px;
    color: rgb(87, 86, 86);
  }

  .container-pago {
    border: none;
    margin: auto;
    padding: 10px;

    .container-metodo-pago {
      width: 100%;
      flex-direction: column;
      margin: auto;
      margin-bottom: 10px;
      align-items: start;
      border: 1px solid gray;
      border-radius: 8px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1),
        -4px -4px 10px rgba(255, 255, 255, 0.5);
      padding: 15px 30px;
      transition: transform 0.2s ease;

      &:hover {
        border-bottom: 2px solid #848383;
        border-right: 3px solid #848383;
        transform: translateY(-5px);
        box-shadow: 0 5px 20px 0px var(--color-grey);
      }
    }

    .img-tarjetas {
      background: #ffffff;
      width: 120px;
      height: 30px;
    }

    .btn-tarjetas {
      background: white;
      color: black;
      border: 1px solid #4a4a4a;
      margin: 10px;
      padding: 10px 90px;
      transition: 0.1s all ease-in;

      &.btn-tarjetas:hover {
        background-color: var(--bg-red);
        color: var(--color-white);
        border-radius: 10px;
      }
    }

    .div-btn-modal-iniciar {
      display: block;
      text-align: center;
    }
  }
}

.card-planes {
  transition: transform 0.3s ease box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px 0px var(--color-grey);
  }
}

/* media query */

@media screen and (max-width: 576px) {
  .card-diapositiva5.text-center.justify-content-center {
    padding: 30px;
  }

  .container-planes {
    margin-bottom: 40px;
  }

  .div-icons {
    font-size: 50px;
  }

  .parrafo {
    display: none;
  }

  .div-btn-modal .btn-red {
    padding: 5px 10px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 576px) {
  .div-icons {
    font-size: 100px;
  }

  .container-metodo-pago {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .container .card-diapositiva {
    padding: 30px;
  }
}

@media screen and (min-width: 992px) {
  .container-metodo-pago {
    width: 80%;
  }
}
