/* Adaptación del CSS personalizado */
.bg-principal {
    background-image: url('../asset/img/banner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-danger {
    background-color: #d70000;
}

.navbar-dark, .bg-dark {
    background-color: #1C1C1C;
}

.card {
    border: none;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.display-6 {
    font-size: 2rem;
    font-weight: bold;
}


/* footer */
.custom-footer {
    background-color: #1C1C1C;
    color: #ffffff;
}

.custom-footer .text-white {
    color: #ffffff !important;
}

.custom-footer .text-reset {
    color: #ffffff !important;
}

.custom-footer .p-4 {
    background-color: rgba(0, 0, 0, 0.05);
}


/* responsive */
@media (max-width: 768px) {
    .bg-principal {
        height: 60vh;
        padding: 20px;
    }

    .bg-principal img {
        width: 100%;
    }

    .display-4 {
        font-size: 1.5rem;
    }

    .lead {
        font-size: 1rem;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 10px;
    }
}